# ============================================
# macOS
# ============================================
.DS_Store
**/.DS_Store

# ============================================
# IntelliJ IDEA
# ============================================
.idea/
*.iml
*.iws
*.ipr
out/

# ============================================
# VS Code
# ============================================
.vscode/

# ============================================
# Gradle
# ============================================
.gradle/
**/.gradle/
**/build/

# ============================================
# Local configuration / Secrets
# ============================================
**/src/main/resources/application-local.properties
**/.env
.env

# ============================================
# Logs
# ============================================
*.log
logs/

# Node
node_modules/
dist/

# Environment variables
.env
.env.*
!.env.example

deploy/